<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>管理员密码修改页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{static/Xadmin/css/font.css}" href="/Xadmin/css/font.css">
    <link rel="stylesheet" th:href="@{/Xadmin/css/xadmin.css}" href="/Xadmin/css/xadmin.css">
    <script type="text/javascript" th:src="@{/Xadmin/lib/layui/layui.js}" src="/Xadmin/lib/layui/layui.js"
            charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/Xadmin/js/xadmin.js}" src="/Xadmin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="adminName" disabled="" th:value="${adminPwdById.adminName}"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>旧密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="L_oldpass" name="adminPwd" required="pass" lay-verify="required|oldpass"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>新密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="adminPwd" required="pass" lay-verify="required|pass"
                           autocomplete="off" class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="adminPwd" required="pass" lay-verify="required|repass"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="id" id="id" th:value="${adminPwdById.id}">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="save" lay-submit="">增加</button>
                <!--<button class="layui-btn" type="reset">重置</button>-->
            </div>
    </form>
</div>
</div>
</body>
<script th:inline="javascript">
    var oldPwd = [[${oldPwd}]];
    layui.use(['form', 'layer','jquery'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;
            //自定义验证规则
            form.verify({
                pass: function () {
                    if (!new RegExp("^[\\S]{6,12}$").test($('#L_pass').val())) {
                        return '密码必须6到12位，且不能出现空格';
                    }
                },
                repass: function () {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
            });
            form.verify({
                //旧密码是否正确
                oldpass:function(value){
                    if(($('#L_oldpass').val() != oldPwd))
                        return '旧密码输入错误！';
                }
            });

            //监听提交
            form.on('submit(save)', function (data) {
                console.log(data);
                var id = $("#id").val();
                var adminPwd = $("#L_pass").val();
                $.ajax({
                    url: "/adopt/admin/modifyAdminPwdById",
                    type:"post",   //请求方式
                    async:true,
                    data: {
                        id: id, adminPwd:adminPwd
                    },
                    success: function (data1) {
                        //请求成功时处理
                        if (data1 == "success") {
                            layer.alert("修改成功", {
                                    icon: 6
                                },
                                function () {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                });
                        } else {
                            layer.msg('修改失败- ' + data1.msg, {icon: 5});
                        }
                    },
                    error: function () {
                        //请求出错处理
                        layer.msg('修改失败+', {icon: 5});
                    }
                });
                return false;
            });
        });
</script>
<script>
    var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>

</html>