<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>修改活动信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <!--<link rel="stylesheet" th:href="@{/Xadmin/css/font.css}" href="/Xadmin/css/font.css">-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/Xadmin/css/xadmin.css}" href="/Xadmin/css/xadmin.css">
    <script type="text/javascript" th:src="@{/layui/layui.js}" src="/layui/layui.js"></script>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form method="post" class="layui-form" autocomplete="off" th:object="${activityById}">
            <input type="hidden" name="id" id="id" th:value="*{id}">
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">主题</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="title" th:value="*{title}" required=""
                           lay-verify="required|title"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">地点</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="address" th:value="*{address}" required=""
                           lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_times" name="times"
                           th:value="${#dates.format(activityById.times, 'yyyy-MM-dd')}" placeholder="请选择时间"
                           lay-verify="required" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">活动内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="250字以内" th:text="*{event}" lay-verify="required|remark" class="layui-textarea"
                              name="event" id="remark"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="modify" type="submit">修改</button>
                <button type="reset" class="layui-btn">重置</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer', 'jquery', 'laydate'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;
        var laydate = layui.laydate;
        //生日日期格式
        laydate.render({
            elem: '#L_times' //指定元素
            , theme: 'grid'
            , trigger: 'click'
        });

        //用户名校验
        form.verify({
            title: function (value) {
                //var username = $("#L_uName").val();
                var message = '';
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return message = '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return message = '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return message = '用户名不能全为数字';
                }
                if (message !== '') {
                    return message;
                }
            }
        });
        //活动内容校验
        form.verify({
            remark: function (value) {
                //console.log(value+"value====")
                if (value.length > 250 || value.length < 1) {
                    return '限制最多200个文字';
                }
            }
        });

        //监听提交
        form.on('submit(modify)', function (data) {
            $.ajax({
                url: "/activity/modifyActivityById",
                type: "post",
                data: data.field,
                success: function (data1) {
                    //请求成功时处理
                    console.log(data1 + "===---===");
                    if (data1 == "success") {
                        layer.alert("修改成功", {icon: 6},
                            function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                    } else {
                        layer.msg('修改失败- ' + data1.msg, {icon: 5});
                    }
                },
                error: function () {
                    //请求出错处理
                    layer.msg('修改失败+', {icon: 5});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>